html, body {

margin:0px;
padding:0px;
height:100%;
width:100%;
display:inline;

}

a:link {
    
text-decoration:none;
}

.button:hover{text-decoration:none; text-align:center; 
 padding:21px 6px;
 border:solid 6px #f7c520; 
 -webkit-border-radius:50px;
 -moz-border-radius:50px; 
 border-radius: 50px; 
 font:12px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#f5cf0e; 
 background-color:#c73b40; 
 background-image: -moz-linear-gradient(top, #c73b40 0%, #a51925 100%); 
 background-image: -webkit-linear-gradient(top, #c73b40 0%, #a51925 100%); 
 background-image: -o-linear-gradient(top, #c73b40 0%, #a51925 100%); 
 background-image: -ms-linear-gradient(top, #c73b40 0% ,#a51925 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a51925', endColorstr='#a51925',GradientType=0 ); 
 background-image: linear-gradient(top, #c73b40 0% ,#a51925 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
   -webkit-transition: background 0.53s linear;
 -moz-transition:  background 0.53s linear;
 -o-transition:  background 0.53s linear;
 transition:  background 0.53s linear;}
 .button{
 padding:21px 6px; 
 border:solid 6px #f7c520; 
 -webkit-border-radius:50px;
 -moz-border-radius:50px; 
 border-radius: 50px; 
 font:12px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#0f0d0d; 
 background-color:#f5cf0e; 
 background-image: -moz-linear-gradient(top, #f5cf0e 0%, #29240b 100%); 
 background-image: -webkit-linear-gradient(top, #f5cf0e 0%, #29240b 100%); 
 background-image: -o-linear-gradient(top, #f5cf0e 0%, #29240b 100%); 
 background-image: -ms-linear-gradient(top, #f5cf0e 0% ,#29240b 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29240b', endColorstr='#29240b',GradientType=0 ); 
 background-image: linear-gradient(top, #f5cf0e 0% ,#29240b 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 position:relative;
 top:70px;
  
 }.button:active{
 padding:21px 6px; 
 border:solid 6px #f5cf0e; 
 -webkit-border-radius:50px;
 -moz-border-radius:50px; 
 border-radius: 50px; 
 font:12px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#fcfbf7; 
 background-color:#1f1c12; 
 background-image: -moz-linear-gradient(top, #1f1c12 0%, #a51925 100%); 
 background-image: -webkit-linear-gradient(top, #1f1c12 0%, #a51925 100%); 
 background-image: -o-linear-gradient(top, #1f1c12 0%, #a51925 100%); 
 background-image: -ms-linear-gradient(top, #1f1c12 0% ,#a51925 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a51925', endColorstr='#a51925',GradientType=0 ); 
 background-image: linear-gradient(top, #1f1c12 0% ,#a51925 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
 }

.botonTerminarObstaculos {
	-moz-box-shadow: 1px 2px 0px 0px #8a2a21;
	-webkit-box-shadow: 1px 2px 0px 0px #8a2a21;
	box-shadow: 1px 2px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ebe4e4;
	font-family:Arial;
	font-size:10px;
	padding:0px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.botonTerminarObstaculos:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.botonTerminarObstaculos:active {
	position:relative;
	top:1px;
}


#entorno {
    width:0;
    height:0;
    /*border:red solid 1px;*/
}

.box {
    border: 1px solid black;
    float: left;
}

#keys {
    display:none;
    position:absolute;
    top:20px;
    left:500px;
}
#keys img {
    width:144px;
    height:93.5px;
    
}

#keys h4 {
    position:relative;
    left:25px;
}



#divObs {
    position:absolute;
    left:5%;
    top:60px;
    font-size:12px;
    color:#990000;
    width:25%;
    padding:10px;
    border:2px solid #990000;
    background-color:#E57D7D;
    font-weight:bold;
    text-align:center;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
}

#divInicio h4 {
    position:relative;
    left:15px;
}


#divEmpezar {
    position:absolute;
    left:5%;
    top:60px;
    font-size:12px;
    color:#990000;
    width:25%;
    padding:10px;
    border:2px solid #990000;
    background-color:#E57D7D;
    font-weight:bold;
    text-align:center;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
}

#divEmpezar h4 {
    position:relative;
    left:15px;
}



#divExplicacion {
    position:relative;
    border:solid 3px black;
    max-width:50%;
    left:25%;    
    top:30px;
    /*text-align:center;*/
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    padding:20px;
    font-size:90%;
}

#divInicio {
    text-align:center;
    position:relative;
    border:solid 3px black;
    max-width:50%;
    left:25%;    
    top:30px;
    /*text-align:center;*/
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    padding:20px;
    font-size:90%;
}

#divRoboDer {
    max-width:30%;
    position:relative;
    float:left;
    left:50%;
    top:19px;
    
}

#divRoboDer img{
    max-width:90%;
    float:left;
}



#divRoboIz {
    max-width:30%;
    position:relative;
    float:left;
    right:10%;
    top:40px;
}

#divRoboIz img {
    max-width:90%;
    float:left;
}

.parrafoInstrucciones {
    /*width:50%;*/
}
#divExplicacion h2 {
    text-align:center;
    /*width:50%;*/
}

#divBotomEmpezar {
    max-width:50%;
    position:relative;
    margin-top:1%;
    margin-bottom:3%;
    left:37%;
    height:5px;
}

#botonEmpezar img{
    max-width:90%;
    
}

#divDatosMatriz {
    position:relative;
    border:solid 3px black;
    max-width:30%;
    left:35%;    
    top:30px;
    text-align:center;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    display:none;
    font-size:90%;
}

#entorno {
    position:relative;
    /*left:30%;*/
    bottom:10px;
}
header {
    width:100%;
    height:100px;
    background-color:black;
    padding:0px;
    margin:0px;
}

header img {
    max-width:50%;
    position:relative;
    left: 30%;
    top:15px;
}

.inputDatos {
    max-width:10%;
}

.parrafosDescripcion {
    
}


footer {
	  background: #172d4f;
	  height: 30px;
	  width: 100%;
	  margin-top: 550px;
	  text-align: center;
	  color: grey;
	  overflow: hidden;
	  position: absolute;
	  bottom: 0;
	  padding-top:10px;
	}
footer a:link {
    color:yellow;
    margin:10px;
}
footer a:visited {
    color:white;
}
	